@charset "UTF-8";
/* Reset y fuentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fuentemedieval; }

@font-face {
  font-family: fuentemedieval;
  src: url(../font/RomanUncialModern.ttf); }

@font-face {
  font-family: fuentecelta;
  src: url(../font/CelticHand.ttf); }

/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; }

footer {
  font-size: larger;
  background-color: #333;
  color: antiquewhite;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box; }

/* Estilos específicos para la página de inicio */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #947962; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center; }

.logo img {
  height: 80px;
  border-radius: 8px; }

.title {
  font-family: fuentemedieval;
  font-weight: 600;
  font-size: 28px;
  text-shadow: #111;
  text-align: center;
  margin-top: 5px;
  color: antiquewhite; }

.social-media a {
  margin-left: 10px; }

.social-media img {
  height: 42px;
  width: 42px;
  margin-left: 5px; }

nav {
  background-color: #333;
  padding: 10px;
  text-align: center; }

.hamburger {
  display: none;
  background-color: #333; }

.menu {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; }

.menu li {
  margin-right: 20px; }

.menu li:last-child {
  margin-right: 0; }

.menu li a {
  color: antiquewhite;
  text-decoration: none;
  padding: 10px;
  display: block; }

.menu li a:hover {
  background-color: #111; }

main {
  padding: 20px;
  background-color: #ddc9ae; }

main h1 {
  text-align: center;
  color: antiquewhite;
  background-color: #333;
  margin-bottom: 5px;
  border: groove 1px #000; }

main h2 {
  text-align: center;
  color: #333;
  font-family: fuentecelta;
  margin-bottom: 20px;
  font-size: 2rem;
  /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  /* Añade negrita */
  text-shadow: 2px 2px #ccc;
  background-color: #947962;
  border: groove 1px #000; }

main p {
  font-family: fuentecelta;
  font-size: x-large;
  font-weight: 500; }

.ranas-window-sized button {
  margin-bottom: 20px; }

.ranas-window-sized a {
  text-decoration: none; }

.ranas-window-sized img {
  width: 100%;
  height: 5%;
  object-fit: cover;
  margin-bottom: 10px; }

main div iframe {
  width: 100%;
  object-fit: cover; }

.slider-frame {
  width: auto;
  height: auto;
  overflow: hidden;
  align-items: center; }

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 9s infinite alternate ease-in-out;
  align-items: center; }

.slider-frame li {
  list-style: none;
  width: 100%;
  align-items: center; }

.slider-frame img {
  width: 100%; }

@keyframes slide {
  0%, 20% {
    margin-left: 0%; }
  25%, 45% {
    margin-left: -100%; }
  50%, 70% {
    margin-left: -200%; }
  75%, 95% {
    margin-left: -300%; } }

/* Estilos específicos para la página de historia */
.historia {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; }

.historia h2 {
  text-align: center;
  color: #333;
  font-family: fuentemedieval;
  margin-bottom: 20px; }

.lore p {
  text-align: justify;
  color: #000000;
  border-radius: 5px;
  font-family: fuentecelta;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 20px; }

.historia img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px; }

/* Estilos específicos para Razas y Clases */
.races-classes {
  max-width: auto;
  margin: 0 auto;
  padding: 20px; }

.races-classes h2 {
  text-align: center;
  color: #333;
  font-family: fuentecelta;
  margin-bottom: 20px;
  font-size: 2rem;
  /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  /* Añade negrita */
  text-shadow: 2px 2px #ccc; }

.highlighted-title {
  font-family: fuentemedieval;
  font-size: 2rem;
  /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  /* Añade negrita */
  text-shadow: 4px 4px #141414 !important;
  /* Añade sombra al texto */
  color: antiquewhite !important;
  margin-bottom: 20px;
  padding: 10px;
  /* Espaciado interior */
  border: 2px solid #000000;
  /* Borde */
  background-color: #3f0000;
  /* Color de fondo */
  width: 100%;
  /* Ocupa todo el ancho del contenedor */
  box-sizing: border-box;
  /* Incluye el padding y el borde en el ancho total */ }

.races-classes p {
  text-align: justify;
  color: #000000 !important;
  font-family: fuentecelta;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  width: 100%; }

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; }

.card:hover {
  transform: scale(1.05); }

.card img {
  width: 25%;
  object-fit: cover; }

.card-content {
  width: 70%;
  padding: 20px; }

.card-content h3 {
  font-family: fuentemedieval;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px; }

.card-content p {
  font-family: fuentecelta;
  font-size: 1.5rem;
  color: #666;
  line-height: 1.4; }

/* Estilos específicos para la galería */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Tres columnas de igual tamaño */
  grid-template-rows: repeat(4, 1fr);
  /* Cuatro filas de igual tamaño */
  gap: 8px;
  /* Espacio entre los elementos */
  grid-auto-flow: row;
  grid-template-areas: "grid-item1 grid-item1 grid-item2" "grid-item3 grid-item4 grid-item5" "grid-item6 grid-item7 grid-item5" "grid-item8 grid-item8 grid-item9";
  width: 100%;
  /* Asegura que la galería ocupe todo el ancho del contenedor */ }

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative; }

.galeria h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.55);
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px; }

/* Definiciones para las áreas de la cuadrícula */
.grid-item1 {
  grid-area: grid-item1; }

.grid-item2 {
  grid-area: grid-item2; }

.grid-item3 {
  grid-area: grid-item3; }

.grid-item4 {
  grid-area: grid-item4; }

.grid-item5 {
  grid-area: grid-item5; }

.grid-item6 {
  grid-area: grid-item6; }

.grid-item7 {
  grid-area: grid-item7; }

.grid-item8 {
  grid-area: grid-item8; }

.grid-item9 {
  grid-area: grid-item9; }

/* Estilos específicos para la página de contacto */
.contacto {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; }

.contacto h2 {
  text-align: center;
  color: #333;
  font-family: fuentemedieval;
  margin-bottom: 20px; }

.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacto label {
  font-family: fuentecelta;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px; }

.contacto input,
.contacto textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 16px; }

.contacto button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: fuentecelta;
  font-size: 18px; }

.contacto button:hover {
  background-color: #111;
  transition: background-color 0.3s ease-in-out; }

/* Media Queries para hacer la página responsive */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .social-media {
    margin-top: 10px; }
  nav ul {
    flex-direction: column; }
  nav ul li {
    margin: 5px 0; } }

@media (max-width: 480px) {
  .logo img {
    height: 80px;
    width: 80px; }
  .social-media img {
    height: 25px;
    width: 25px; }
  .media-container iframe {
    height: 200px; } }

@media (max-width: 350px) {
  .logo img {
    height: 80px;
    width: 80px; }
  .social-media img {
    height: 20px;
    width: 20px; }
  .media-container iframe {
    height: 150px; }
  nav ul {
    padding: 5px; }
  nav ul li a {
    padding: 5px; } }

/* Media Queries Slider*/
@media (max-width: 1280px) {
  .slider-frame {
    width: 100%; }
  .slider-frame ul {
    width: 400%; } }

@media (max-width: 1024px) {
  .slider-frame {
    width: 100%; }
  .slider-frame ul {
    width: 400%; } }

@media (max-width: 768px) {
  .slider-frame {
    width: 100%; }
  .slider-frame ul {
    width: 400%; } }

@media (max-width: 480px) {
  .slider-frame {
    width: 100%; }
  .slider-frame ul {
    width: 400%; } }

@media (max-width: 350px) {
  .slider-frame {
    width: 100%; }
  .slider-frame ul {
    width: 400%; } }

/* Media Queries para la sección de Razas y Clases */
@media (max-width: 768px) {
  .card {
    flex-direction: column; }
  .card img {
    width: 100%; }
  .card-content {
    width: 100%; } }

@media (max-width: 350px) {
  .races-classes h2 {
    font-size: 1.5rem; }
  .races-classes p,
  .card-content h3 {
    font-size: 1rem; }
  .card-content p {
    font-size: 1rem;
    /* Ajuste para pantallas más pequeñas */ } }

/* Estilo Footer para pantallas de tamaño de monitor */
@media (min-width: 1024px) {
  footer {
    padding: 20px 40px; }
  .card img {
    width: 21rem;
    object-fit: cover; }
  .card-content {
    width: 100%; } }

/* Estilo Footer para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
  footer {
    padding: 15px 30px; } }

/* Estilo Footer para teléfonos grandes */
@media (max-width: 767px) and (min-width: 576px) {
  footer {
    padding: 10px 20px; } }

/* Estilo Footer para teléfonos pequeños */
@media (max-width: 575px) {
  footer {
    padding: 5px 10px;
    font-size: 14px; } }

/* Estilo Footer para pantallas muy pequeñas (350px) */
@media (max-width: 350px) {
  footer {
    padding: 5px;
    font-size: 12px; } }
