/**-------RESET------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fuentemedieval;
}

@font-face {
    font-family: fuentemedieval;
    src: url(../font/RomanUncialModern.ttf);
}
@font-face {
    font-family: fuentecelta;
    src: url(../font/CelticHand.ttf);
}

/* Estilos para el banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #947962; 

}

.logo {
    display: flex;
    align-items: center;
    /* Alinear elementos verticalmente */
    justify-content: center;
}

.logo img {
    height: 80px;
    border-radius: 8px;
    align-content: center;
}

.title {

    font-family: fuentemedieval;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    text-shadow: #111;
    margin: 0;
    /* Elimina el margen por defecto */
    text-align: center;
    margin-top: 5px;
    color: antiquewhite;
}

.social-media a {
    margin-left: 10px;
}

.social-media img {
    height: 42px;
    width: 42px;
    margin-left: 5px;
}

/* Estilos básicos para el menú, el contenido y el footer */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

/* Estilos para el nav */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.hamburger {
    display: none;
    /* Ocultamos por defecto en pantallas grandes */
    background-color: #333;
}

.menu {
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
    /* Eliminar el margen derecho del último elemento */
}

.menu li a {
    color: antiquewhite;
    background-color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu li a:hover {
    background-color: #111;
    transition-duration: 1s;

}


/* Estilos para el main */
main {
    padding: 20px;
    background-color: rgb(221, 201, 174);
}

main h1 {
    text-align: center;
    color: antiquewhite;
    background-color: #333;
    margin-bottom: 5px;
    border-color: #000000;
    border-style: groove;
}

main h2 {
    font-family: fuentecelta;
    font-weight: 350;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    background-color: #947962;
    border-color: #000000;
    border-style: groove;

}

main p {
    font-family: fuentecelta;
    font-size: x-large;
    font-weight: 500;
}

.ranas-window-sized button{
margin-bottom: 20px;
}

.ranas-window-sized a{
    text-decoration: none;
}

.ranas-window-sized img {
    width: 100%;
    height: 5%;
    object-fit: cover;
    margin-bottom: 10px;
}

main div iframe {
    width: 100%;
    object-fit: cover;
}

footer {
    font-size: larger;
        background-color: #333;
        color: antiquewhite;
        text-align: center;
        padding: 20px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
}


/* Estilos para el Slider */

.slider-frame {
    width: auto;
    height: auto;
    overflow: hidden;
    align-items: center;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 9s infinite alternate ease-in-out;
    align-items: center;
}

.slider-frame li {
    list-style: none;
    width: 100%;
    align-items: center;
}

.slider-frame img {
    width: 100%;

}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }
}


/* Estilos para la sección de Crear Tu Propio Héroe */
.create-hero {
    background-color: rgb(221, 201, 174);
    padding: 50px 0;
    text-align: center;
}

.hero-background {
    background-image: url('../img/Default_A_cozy_warm_tavern_filled_with_wooden_furniture_a_roar_2.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-form h2 {
    margin-bottom: 20px;
}

.hero-form form {
    display: flex;
    flex-direction: column;
}

.hero-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.hero-form input[type="text"],
.hero-form select,
.hero-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.hero-form button {
    background-color: #c97200;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero-form button:hover {
    background-color: #303030;
    transition-duration: 1s;
}

/* ESTILOS PARA RAZAS Y CLASES*/
.races-classes {
    max-width: 1280p;
    margin: 0 auto;
    padding: 20px;
}

.races-classes h2 {
    text-align: center;
    color: #000000;
}

.descripcion-de-razas{
    color: antiquewhite !important;
    background-color: #333;
}

.races-classes p {
    text-align: center;
    color: antiquewhite;
    margin-bottom: 40px;
}

.card-container {
    margin-bottom: 40px;
}

.card-container h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    background-color: #333;
}

.card-content h4 {
    margin: 0 0 10px;
    color: #333;
}

.card-content p {
    margin: 0;
    color: antiquewhite;
}


/* ESTILOS PARA GRID EN GALERIA*/
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "grid-item1 grid-item1 grid-item2"
        "grid-item3 grid-item4 grid-item5"
        "grid-item6 grid-item7 grid-item5"
        "grid-item8 grid-item8 grid-item9";
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.galeria h3 {
    position: absolute;
    bottom: 0;
    background-color: #1111118c;
    width: 100%;
    color: white;
}

.grid-item1 {
    grid-area: grid-item1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item2 {
    grid-area: grid-item2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item3 {
    grid-area: grid-item3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item4 {
    grid-area:
        grid-item4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item5 {
    grid-area: grid-item5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item6 {
    grid-area: grid-item6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item7 {
    grid-area: grid-item7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item8 {
    grid-area: grid-item8;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.grid-item9 {
    grid-area: grid-item9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* Media Queries para hacer la página responsive */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 25px;
        width: 25px;
    }

    .media-container iframe {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 20px;
        width: 20px;
    }

    .media-container iframe {
        height: 150px;
    }

    nav ul {
        padding: 5px;
    }

    nav ul li a {
        padding: 5px;
    }
}

/* Media Queries Slider*/
@media (max-width: 1280px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 1024px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 768px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 480px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 350px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

/* MEDIA QUERIES PARA RAZAS Y CLASES */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 10px;
    }
}

@media (max-width: 350px) {
    .races-classes h2 {
        font-size: 1.5rem;
    }

    .races-classes p,
    .card-container h3 {
        font-size: 1rem;
    }

    .card-content h4 {
        font-size: 1.2rem;
    }

    .card-content p {
        font-size: 0.9rem;
    }
}
/* Estilo Footer para pantallas de tamaño de monitor */
@media (min-width: 1024px) {
    footer {
        padding: 20px 40px;
    }
}

/* Estilo Footer para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    footer {
        padding: 15px 30px;
    }
}

/* Estilo Footer para teléfonos grandes */
@media (max-width: 767px) and (min-width: 576px) {
    footer {
        padding: 10px 20px;
    }
}

/* Estilo Footer para teléfonos pequeños */
@media (max-width: 575px) {
    footer {
        padding: 5px 10px;
        font-size: 14px;
    }
}

/* Estilo Footer para pantallas muy pequeñas (350px) */
@media (max-width: 350px) {
    footer {
        padding: 5px;
        font-size: 12px;
    }
}