.create-hero {
    background-color: rgb(221, 201, 174);
    padding: 50px 0;
    text-align: center;

    .hero-background {
        background-image: url('../img/Default_A_cozy_warm_tavern_filled_with_wooden_furniture_a_roar_2.jpg');
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .hero-form {
        max-width: 600px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        select,
        textarea {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #490000;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #00b2d1;
                transition-duration: 1s;
            }
        }
    }
}
