/* Estilos específicos para la página de inicio */
main {
    padding: 20px;
    background-color: rgb(221, 201, 174);

    h1 {
        text-align: center;
        color: antiquewhite;
        background-color: #333;
        margin-bottom: 5px;
        border: groove 1px #000;
    }

    h2 {
        text-align: center;
        color: #333;
        font-family: fuentecelta;
        margin-bottom: 20px;
        font-size: 1.6rem; /* Aumenta el tamaño de la fuente */
        font-weight: bold; /* Añade negrita */
        background-color: #947962;
        border: groove 1px #000;
    }

    p {
        font-family: fuentecelta;
        font-size: x-large;
        font-weight: 500;
    }

    div iframe {
        width: 100%;
        object-fit: cover;
    }
}

.ranas-window-sized {
    button {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        height: 5%;
        object-fit: cover;
        margin-bottom: 10px;
    }
}

.slider-frame {
    width: auto;
    height: auto;
    overflow: hidden;
    align-items: center;

    ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 9s infinite alternate ease-in-out;
        align-items: center;
    }

    li {
        list-style: none;
        width: 100%;
        align-items: center;
    }

    img {
        width: 100%;
        height: 600px;
    }
}

@keyframes slide {
    0%, 20% { margin-left: 0%; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 95% { margin-left: -300%; }
}

