/* Estilos específicos para Razas y Clases */
.races-classes {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}


.races-classes h2 {
    text-align: center;
    color: #333;
    font-family: fuentecelta;
    margin-bottom: 20px;
    font-size: 1.6rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Añade negrita */
    text-shadow: 2px 2px #ccc;
}

.highlighted-title {
    font-family: fuentemedieval;
    font-size: 2rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Añade negrita */
    text-shadow: 4px 4px #141414 !important; /* Añade sombra al texto */
    color: antiquewhite !important;
    margin-bottom: 20px;
    padding: 10px; /* Espaciado interior */
    border: 2px solid #000000; /* Borde */
    background-color: #3f0000; /* Color de fondo */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.races-classes p {
    text-align: justify;
    color: #000000 !important;
    font-family: fuentecelta;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 25%;
    object-fit: cover;
}

.card-content {
    width: 70%;
    padding: 20px;
}

.card-content h3 {
    font-family: fuentemedieval;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-content p {
    font-family: fuentecelta;
    font-size: 1.5rem;
    color: #666;
    line-height: 1.4;
}
