/* Reset y fuentes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fuentemedieval;
}

@font-face {
    font-family: fuentemedieval;
    src: url(../font/RomanUncialModern.ttf);
}

@font-face {
    font-family: fuentecelta;
    src: url(../font/CelticHand.ttf);
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    font-size: larger;
    background-color: #333;
    color: #faebd7;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

//Estilos Banner
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #3c2a1a, #000);
    animation: cambiar 5s ease-in-out infinite;
    position: relative;
    background-size: 200% 200%;
    border-bottom: 5px solid #3f0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.title {
    font-family: fuentemedieval;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: #f0e6d6;
    margin: 0;
}

.social-media a {
    margin-left: 15px;
    text-decoration: none;
}

.social-media img {
    height: 50px;
    width: 50px;
    padding: auto;
    margin-left: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.social-media img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}




// Estilos navbar

// Variables para colores y fuentes

$primary-color: #490000;
$hover-color: #490000;
$background-color: #303030;
$text-color: #fff;

nav {
    background-color: $background-color;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hamburger {
        display: none;
        cursor: pointer;

        .hamburger-line {
            width: 30px;
            height: 3px;
            background-color: $text-color;
            margin: 5px;
            transition: 0.3s;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            margin: 0 15px;

            a {
                text-decoration: none;
                color: $text-color;
                font-size: 16px;
                font-family: fuentecelta;
                padding: 10px;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }
}