/* Reset y fuentes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fuentemedieval;
}

@font-face {
    font-family: fuentemedieval;
    src: url(../font/RomanUncialModern.ttf);
}

@font-face {
    font-family: fuentecelta;
    src: url(../font/CelticHand.ttf);
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    font-size: larger;
    background-color: #333;
    color: #faebd7;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

//Estilos Banner
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #3c2a1a, #000);
    animation: cambiar 5s ease-in-out infinite;
    position: relative;
    background-size: 200% 200%;
    border-bottom: 5px solid #3f0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.title {
    font-family: fuentemedieval;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: #f0e6d6;
    margin: 0;
}

.social-media a {
    margin-left: 15px;
    text-decoration: none;
}

.social-media img {
    height: 50px;
    width: 50px;
    padding: auto;
    margin-left: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.social-media img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}




// Estilos navbar

// Variables para colores y fuentes
$primary-color: #490000;
$background-color: #303030;
$text-color: #fff;

nav {
    background-color: $background-color;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; // Cambiado para alinear correctamente
    align-items: center;
    position: relative; // Asegura que el menú se posicione correctamente

    .menu-toggle {
        display: none; // Ocultar checkbox en pantallas grandes
    }

    .hamburger {
        display: none; // Ocultar el botón de hamburguesa en pantallas grandes
        cursor: pointer;
        z-index: 2;

        .hamburger-line {
            width: 30px;
            height: 3px;
            background-color: $text-color;
            margin: 5px;
            transition: 0.3s;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 60px; // Ajusta para que no tape el banner
        left: 0;
        width: 100%;
        background-color: $background-color;
        flex-direction: column;
        align-items: center;
        z-index: 1; // Asegura que el menú esté por encima de otros elementos
        transition: max-height 0.3s ease;
        max-height: 0; // Ocultar menú por defecto en pantallas pequeñas
        overflow: hidden;

        li {
            margin: 10px 0;

            a {
                text-decoration: none;
                color: $text-color;
                font-size: 16px;
                font-family: fuentecelta;
                padding: 15px;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }

    // Mostrar el menú en pantallas grandes
    @media (min-width: 769px) {
        .hamburger {
            display: none; // Ocultar el botón de hamburguesa en pantallas grandes
        }

        .menu {
            display: flex;
            position: static; // Asegura que el menú se muestre correctamente en pantallas grandes
            max-height: none; // Mostrar el menú sin restricciones de altura
            flex-direction: row;
            background-color: transparent; // Fondo transparente para pantallas grandes
            width: auto; // Ajusta el ancho en pantallas grandes
            margin: 0;
            padding: 0;

            li {
                margin: 0 15px;

                a {
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
}