/* Media Queries para hacer la página responsive */

//Banner
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (min-width: 481px){
    .logo img {
        height: 80px;
        width: 80px;
    }

}

@media (max-width: 480px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 25px;
        width: 25px;
    }

    .media-container iframe {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 20px;
        width: 20px;
    }

    .media-container iframe {
        height: 150px;
    }

    nav ul {
        padding: 5px;
    }

    nav ul li a {
        padding: 5px;
    }
}

// Nav bar
nav{
    // Mostrar el menú en pantallas pequeñas
    @media (max-width: 768px) {
        .hamburger {
            display: block; // Mostrar el botón de hamburguesa en pantallas pequeñas
        }

        .menu-toggle:checked + .hamburger + .menu {
            max-height: 500px; // Ajusta según la altura del contenido del menú
        }
    }

        // Mostrar el menú en pantallas grandes
        @media (min-width: 769px) {
            .hamburger {
                display: none; // Ocultar el botón de hamburguesa en pantallas grandes
            }
    
            .menu {
                display: flex;
                position: static; // Asegura que el menú se muestre correctamente en pantallas grandes
                max-height: none; // Mostrar el menú sin restricciones de altura
                justify-content: center;
                flex-direction: row;
                background-color: transparent; // Fondo transparente para pantallas grandes
                width: auto; // Ajusta el ancho en pantallas grandes
                margin: 0;
                padding: 0;
    
                li {
                    margin: 0 15px;
    
                    a {
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
        }
    
}

/* Media Queries Slider*/
@media (max-width: 1280px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 1024px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 768px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }

    img {
        width: 100%;
        height: 100% !important;
    }
}

@media (max-width: 480px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }

    img {
        width: 100%;
        height: 100% !important;
    }
}

@media (max-width: 350px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }

    img {
        width: 100%;
        height: 100% !important;
    }
}

/* Media Queries para la sección de Razas y Clases */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
    }

    .card-content {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .races-classes h2 {
        font-size: 1.5rem;
    }

    .races-classes p,
    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 1rem; /* Ajuste para pantallas más pequeñas */
    }
}

//Media Queries de img de Grid en galeria

@media (max-width: 1024px) and (min-width: 769px) {
    .galeria {
      grid-template-columns: repeat(2, 1fr); // Dos columnas en pantallas medianas
      grid-template-rows: auto; // Deja que las filas se ajusten según el contenido
      grid-template-areas:
        "grid-item1 grid-item1"
        "grid-item2 grid-item2"
        "grid-item3 grid-item4"
        "grid-item5 grid-item5"
        "grid-item6 grid-item7"
        "grid-item8 grid-item8"
        "grid-item9 grid-item9";
    }
  
    img {
      object-fit: contain; // Ajusta la imagen sin cortarla, manteniendo proporciones
      height: auto; // Ajuste flexible de la altura de las imágenes
    }
  }
  
  // Media queries para pantallas pequeñas (máx. 768px)
  @media (max-width: 768px) {
    .galeria {
      grid-template-columns: 1fr; // Una columna en pantallas pequeñas
      grid-template-rows: repeat(9, auto); // Ajusta el tamaño según el contenido
      grid-template-areas:
        "grid-item1"
        "grid-item2"
        "grid-item3"
        "grid-item4"
        "grid-item5"
        "grid-item6"
        "grid-item7"
        "grid-item8"
        "grid-item9";
    }
  }


/* Estilo Footer para pantallas de tamaño de monitor */
@media (min-width: 1024px) {
    footer {
        padding: 20px 40px;
    }
    .card img {
        width: 21rem;
        object-fit: cover;
    }
    .card-content {
        width: 100%;
    }

    }

/* Estilo Footer para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    footer {
        padding: 15px 30px;
    }
}

/* Estilo Footer para teléfonos grandes */
@media (max-width: 767px) and (min-width: 576px) {
    footer {
        padding: 10px 20px;
    }
}

/* Estilo Footer para teléfonos pequeños */
@media (max-width: 575px) {
    footer {
        padding: 5px 10px;
        font-size: 14px;
    }
}

/* Estilo Footer para pantallas muy pequeñas (350px) */
@media (max-width: 350px) {
    footer {
        padding: 5px;
        font-size: 12px;
    }
}

