/* Media Queries para hacer la página responsive */

//Banner
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social-media {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 25px;
        width: 25px;
    }

    .media-container iframe {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .logo img {
        height: 80px;
        width: 80px;
    }

    .social-media img {
        height: 20px;
        width: 20px;
    }

    .media-container iframe {
        height: 150px;
    }

    nav ul {
        padding: 5px;
    }

    nav ul li a {
        padding: 5px;
    }
}

// Nav bar
nav{
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: $background-color;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;

        li {
            margin: 10px 0;

            a {
                padding: 15px;
                text-align: center;
            }
        }
    }

    .menu.show {
        display: flex;
    }
}
}

/* Media Queries Slider*/
@media (max-width: 1280px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 1024px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 768px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 480px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

@media (max-width: 350px) {
    .slider-frame {
        width: 100%;
    }

    .slider-frame ul {
        width: 400%;
    }
}

/* Media Queries para la sección de Razas y Clases */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
    }

    .card-content {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .races-classes h2 {
        font-size: 1.5rem;
    }

    .races-classes p,
    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 1rem; /* Ajuste para pantallas más pequeñas */
    }
}

/* Estilo Footer para pantallas de tamaño de monitor */
@media (min-width: 1024px) {
    footer {
        padding: 20px 40px;
    }
    .card img {
        width: 21rem;
        object-fit: cover;
    }
    .card-content {
        width: 100%;
    }

    }

/* Estilo Footer para tablets */
@media (max-width: 1023px) and (min-width: 768px) {
    footer {
        padding: 15px 30px;
    }
}

/* Estilo Footer para teléfonos grandes */
@media (max-width: 767px) and (min-width: 576px) {
    footer {
        padding: 10px 20px;
    }
}

/* Estilo Footer para teléfonos pequeños */
@media (max-width: 575px) {
    footer {
        padding: 5px 10px;
        font-size: 14px;
    }
}

/* Estilo Footer para pantallas muy pequeñas (350px) */
@media (max-width: 350px) {
    footer {
        padding: 5px;
        font-size: 12px;
    }
}

